<h3><%= @note.title %></h3>
<p><%= @note.content %></p>

<form method="POST" action="/notes/<%= @note.id %>">
    <input type="hidden" value="DELETE" name="_method">
    <input type="submit" value="delete">
</form>
